@keyframes bgshake {
    0% {
        background-size: 14px 14px;
        background-position: 0 0, 7px 7px;
    }

    20% {
        background-size: 14px 14px;
        background-position: 14px 10px, 1px 7px;
    }

    40% {
        background-size: 14px 14px;
        background-position: 0 0, 20px 5px;
    }

    50% {
        background-size: 14px 14px;
        background-position: 0px 0px, 9px 9px;
    }

    60% {
        background-size: 14px 14px;
        background-position: 0 0, 5px 20px;
    }

    80% {
        background-size: 14px 14px;
        background-position: 10px 14px, 7px 1px;
    }

    100% {
        background-size: 14px 14px;
        background-position: 0 0, 7px 7px;
    }

}