{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aslam Garments</title>
    <link rel="stylesheet" href={%static 'css/style.css'%} />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href={%static 'css/google.css'%} />
    <link rel="stylesheet" href={%static 'css/external.css'%} />
    <link rel="stylesheet" href={%static 'css/decoration.css'%}>
</head>

<body>
    <div class="header">
        <div class="navbar">
            <h1 class="lugrasimo-regular">Aslam Garments<b>.</b></h1>
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/shop/">Shop</a></li>
                <li><a href="/about/">About Us</a></li>
                <li><a href="/service/">Services</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="lfttxt">

                <h1 class="saira-condensed-bold">Aslam Garments</h1>
                <p class="saira-condensed-regular">
                    Aslam Garments is a leading manufacturer of garments in Tamil Nadu.
                    We have been in the business for over 20 years and have built a
                    reputation for quality and reliability. Our products are made from
                    the finest materials and are designed to last. We offer a wide range
                    of garments for all age ranged people.
                </p>
                <button onclick="window.location.href='/shop.html'">View Products</button>
                <button onclick="window.location.href='#catog'">Category</button>
            </div>
            <img src={% static "images/model.png" %} alt="Model Images" />
        </div>
    </div>

    <div class="category" id="catog">
        <div class="txt">
            <h1>Our Products</h1>
            <p>
                We offer a wide range of garments for all age ranged people. Our all
                collections are for kids, teens and adults.
            </p>
            <button onclick="window.location.href='/shop.html'">Explore</button>
        </div>
        <div class="card">
            <a class="product-item" href="#">
                <img src={%static "images/small-boy.png"%} class="img-fluid product-thumbnail" />
                <h3 class="product-title">Kids Wear</h3>
                <!-- <strong class="product-price">$50.00</strong> -->

                <span class="icon-cross">
                    <img src={%static "images/cross.svg"%} class="img-fluid" />
                </span>
            </a>
        </div>
        <div class="card">
            <a class="product-item" href="#">
                <img src={%static "images/small-boy.png"%} class="img-fluid product-thumbnail" />
                <h3 class="product-title">Womens Wear</h3>
                <!-- <strong class="product-price">$50.00</strong> -->

                <span class="icon-cross">
                    <img src={%static "images/cross.svg"%} class="img-fluid" />
                </span>
            </a>
        </div>
        <div class="card">
            <a class="product-item" href="#">
                <img src={%static "images/small-boy.png"%} class="img-fluid product-thumbnail" />
                <h3 class="product-title">Mens Wear</h3>
                <!-- <strong class="product-price">$50.00</strong> -->

                <span class="icon-cross">
                    <img src={%static "images/cross.svg"%} class="img-fluid" />
                </span>
            </a>
        </div>
    </div>

    <div class="aboutUS">
        <div class="lftimg">
            <img src={%static "images/FinishingAreanew1.jpg"%} alt="About us image" />
        </div>
        <div class="txt">
            <h1>About Us</h1>
            <p>
                Aslam Garments is a leading manufacturer of garments in Tamil Nadu. We
                have been in the business for over 20 years and have built a
                reputation for quality and reliability. Our products are made from the
                finest materials and are designed to last. We offer a wide range of
                garments for all age ranged people.
            </p>
            <button>Read More</button>
        </div>

        <div id="carousel" class="snap">
            <div id="carousel-1" class="cours"></div>
            <div id="carousel-2" class="cours"></div>
            <div id="carousel-3" class="cours"></div>
            <div id="carousel-4" class="cours"></div>
        </div>
    </div>
    <footer>
        <div>
            <h1 class="lugrasimo-regular">Aslam Garments</h1>
            <p>
                Aslam Garments is a leading manufacturer of garments in Tamil Nadu. We
                have been in the business for over 20 years and have built a
                reputation for quality and reliability. Our products are made from the
                finest materials and are designed to last. We offer a wide range of
                garments for all age ranged people.
            </p>
            <span>
                <img src={% static "images/whatsapp.png" %} alt="Whatsapp Icon">
            </span>
            <span>
                <img src={% static "images/facebook.png" %} alt="Facebook Icon">
            </span>
            <span>
                <img src={% static "images/twitter.png" %} alt="Twitter Icon" style="width: 54%;">
            </span>
            <span>
                <img src={% static "images/instagram.png" %} alt="Instagram Icon">
            </span>
        </div>
        <div>
            <a href="#">Home</a>
            <a href="#">About Us</a>
            <a href="#">Shop</a>
            <a href="#">Services</a>
        </div>
        <div>
            <a href="#">Contact Us</a>
            <a href="#">Jobs</a>
        </div>
        <div>
            <h1>Subscribe</h1>
            <input type="email" placeholder="Enter your email" />
            <button>Subscribe</button>
        </div>
        <div class="cr">
            <hr>
            <p>Copyright &copy; 2024 All Rights Reserved - Designed and Developed By <a
                    href="https://titan-portfolio.netlify.app/" target="_blank">Titan Natesan</a> and Team</p>
        </div>
    </footer>
</body>

</html>