@keyframes bgshake {
    0% {
        background-size: 14px 14px;
        background-position: 0 0px, 7px 7px;
        background-image:
            radial-gradient(#00975d .2px, transparent 1px),
            radial-gradient(#00975d .4px, transparent 1.2px),
            radial-gradient(#00975d56 .6px, transparent 1.5px),
            radial-gradient(#00975d65 1px, transparent 2px),
            radial-gradient(#00975d27 1.5px, transparent 3px),
            radial-gradient(#00975d27 2px, transparent 4px);
    }

    20% {
        background-size: 14px 14px;
        background-position: 0px 7px, 7px 0px;
        background-image:
            radial-gradient(#009765 .3px, transparent 1.1px),
            radial-gradient(#009765 .5px, transparent 1.3px),
            radial-gradient(#00976565 .7px, transparent 1.6px),
            radial-gradient(#00976565 1.1px, transparent 2.1px),
            radial-gradient(#00976527 1.6px, transparent 3.1px),
            radial-gradient(#00976527 2.1px, transparent 4.1px);
    }


    40% {
        background-size: 14px 14px;
        background-position: 7px 0px, 0px 7px;
        background-image:
            radial-gradient(#00975d .4px, transparent 1.2px),
            radial-gradient(#00975d .6px, transparent 1.4px),
            radial-gradient(#00975d56 .8px, transparent 1.6px),
            radial-gradient(#00975d65 1.2px, transparent 2.2px),
            radial-gradient(#00975d27 1.7px, transparent 3.2px),
            radial-gradient(#00975d0c 2.2px, transparent 4.2px);
    }
    
    50% {
        background-size: 14px 14px;
        background-position: 14px 0px, 0px 14px;
        background-image:
            radial-gradient(#00975d .2px, transparent 1px),
            radial-gradient(#00975d .4px, transparent 1.2px),
            radial-gradient(#00975d56 .6px, transparent 1.5px),
            radial-gradient(#00975d65 1px, transparent 2px),
            radial-gradient(#00975d27 1.5px, transparent 3px),
            radial-gradient(#00975d0c 2px, transparent 4px);
    }

    60% {
        background-size: 14px 14px;
        background-position: 7px 14px, 14px 7px;
        background-image:
            radial-gradient(#00975d .4px, transparent 1.2px),
            radial-gradient(#00975d .6px, transparent 1.4px),
            radial-gradient(#00975d56 .8px, transparent 1.6px),
            radial-gradient(#00975d65 1.2px, transparent 2.2px),
            radial-gradient(#00975d27 1.7px, transparent 3.2px),
            radial-gradient(#00975d0c 2.2px, transparent 4.2px);
    }

    80% {
        background-size: 14px 14px;
        background-position: 14px 7px, 7px 14px;
        background-image:
            radial-gradient(#009765 .3px, transparent 1.1px),
            radial-gradient(#009765 .5px, transparent 1.3px),
            radial-gradient(#00976565 .7px, transparent 1.6px),
            radial-gradient(#00976565 1.1px, transparent 2.1px),
            radial-gradient(#00976527 1.6px, transparent 3.1px),
            radial-gradient(#00976527 2.1px, transparent 4.1px);
    }

    100% {
        background-size: 14px 14px;
        background-position: 0 0, 7px 7px;
        background-image:
            radial-gradient(#00975d .2px, transparent 1px),
            radial-gradient(#00975d .4px, transparent 1.2px),
            radial-gradient(#00975d56 .6px, transparent 1.5px),
            radial-gradient(#00975d65 1px, transparent 2px),
            radial-gradient(#00975d27 1.5px, transparent 3px),
            radial-gradient(#00975d0c 2px, transparent 4px);
    }

}