.product-item {
     text-align: center;
     text-decoration: none;
     display: block;
     position: relative;
     padding-bottom: 30px;
     cursor: pointer;
}

.product-item .product-thumbnail {
     margin-bottom: 30px;
     position: relative;
     top: 0;
     -webkit-transition: 0.3s all ease;
     -o-transition: 0.3s all ease;
     transition: 0.3s all ease;
}

.product-item .icon-cross {
     position: absolute;
     width: 35px;
     height: 35px;
     display: inline-block;
     background: #2f2f2f;
     bottom: 15px;
     left: 50%;
     -webkit-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     transform: translateX(-50%);
     margin-bottom: -17.5px;
     border-radius: 50%;
     opacity: 0;
     visibility: hidden;
     -webkit-transition: 0.3s all ease;
     -o-transition: 0.3s all ease;
     transition: 0.3s all ease;
}

.product-item .icon-cross img {
     width: 12px;
     filter: invert(1);
     transition: all 0.3s;
}

.product-item::before {
     bottom: 0;
     left: 0;
     right: 0;
     position: absolute;
     content: "";
     background: #56615d64;
     height: 0%;
     z-index: -1;
     border-radius: 2rem;
     -webkit-transition: 0.3s all ease;
     -o-transition: 0.3s all ease;
     transition: 0.3s all ease;
}

.product-item:hover .product-thumbnail {
     top: -15px;
}

.product-item:hover .icon-cross {
     bottom: 0;
     opacity: 1;
     visibility: visible;
}

.product-item:hover .icon-cross img {
     width: 18px;
     filter: invert(1);
}

.product-item:hover::before {
     height: 80%;
}

#carousel {
     /* Ensure that the contents flow horizontally */
     overflow-x: auto;
     white-space: nowrap;
     display: flex;
     width: 90%;
     margin: 5% auto;
     margin-bottom: 0;
     height: 70vh;
     padding: 20px 0px ;
}

#carousel.vertical {
     flex-direction: column;
}

/* 2018 spec - For Safari 11, Chrome 69+ */
#carousel.snap {
     scroll-snap-type: x mandatory;
     -webkit-overflow-scrolling: touch;
     /* Needed to work on iOS Safari */
}

#carousel.snap>div {
     scroll-snap-align: center;
}

#carousel.snap.vertical {
     flex-direction: column;
     scroll-snap-type: y mandatory;
}



/* 2015 spec - For Firefox, Edge, IE */
#carousel.snap {
     scroll-snap-type: mandatory;
     -ms-scroll-snap-type: mandatory;
     scroll-snap-points-x: repeat(100%);
     -ms-scroll-snap-points-x: repeat(100%);
}

#carousel.snap.vertical {
     scroll-snap-points-x: initial;
     -ms-scroll-snap-points-x: initial;
     scroll-snap-points-y: repeat(100%);
     -ms-scroll-snap-points-y: repeat(100%);
}

#carousel>div {
     min-width: 90%;
     min-height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     color: #fff;
     font-size: 20px;
}

.cours{
     background-size: cover;
     margin: auto .5rem;
     transition: all 0.3s ease-in-out;
}

.cours:hover {
     box-shadow: 4px 6px 10px 0 rgba(0, 0, 0, .2);
     scale: 1.005;
     border-radius: 1rem;
}

#carousel-1 {
     background-image: url(../images/factory-image-scaled_2560x.webp);
}

#carousel-2 {
     background-image: url(../images/FinishingAreanew1.jpg);
}

#carousel-3 {
     background-image: url(../images/garment-job-work.jpg);
}

#carousel-4 {
     background-image: url(../images/PRODUCTION-CAPACITY.jpg);
}
