main {
    margin-top: 8vh;
    width: 95vw;
    padding: 2vw;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.back{
    position: fixed;
    width: 3.6vw;
    height: 3.6vw;
    z-index: 99;
    right: 2vw;
    top: 10vh;
    border: none;
    border-radius: 50rem;
    background-color: #cccccc;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}   

.back i{
    font-size: 1.4rem;
    width: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

.back:hover{
    width: 7vw;
}

.back:hover i{
    width: 50%;
}

.carousel {
    position: relative;
    left: 0;
    width: 35vw;
    height: 80vh;
    box-shadow: 0 0 10px -5px #00000099;
}

.carousel img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    pointer-events: none;
    user-select: none;
    transition: all 0.5s ease;
}

.carousel .carousel-indicator {
    position: absolute;
    bottom: -5%;
    left: 50%;
    display: flex;
    justify-content: space-evenly;
    background-color: #fff;
    box-shadow: 0 0 12px -5px #00000099;
    padding: .5%;
    border-radius: 100px;
    align-items: center;
    transform: translateX(-50%);
}

.carousel .carousel-indicator span {
    width: 10px;
    height: 10px;
    margin: 0 10px;
    border-radius: 5rem;
    background-color: #2d2d2d;
    /* Indicator color */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.carousel .carousel-indicator span.active {
    width: 20px;
    background-color: #2d2d2d;
    /* Indicator color */
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: rgb(255, 255, 255);
    /* Button color */
    z-index: 2;
    mix-blend-mode: difference;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.productDetails {
    width: 54vw;
    padding: 1vw 2vw;
}

.productDetails h1 {
    font-size: 5rem;
    font-weight: 500;
    color: #002a10;
}

.productDetails h4 {
    font-size: 1.6rem;
    font-weight: 300;
    color: #001e0be7
}

.productDetails p {
    display: inline-block;
    margin: 10px auto;
    margin-right: 2%;
    font-size: 1.5rem;
    font-weight: 300;
    color: #001e0be7;
}

.productDetails .mrp {
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
    color: #001609e0;
    text-decoration: line-through;
    display: block;
}

.productDetails .price {
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    display: block;
    color: #001207;
}

.productDetails .head {
    margin: 0;
    margin-top: 20px;
    text-decoration: underline;
    font-size: 1.6rem;
    text-decoration-thickness: 2px;
    display: block;
}

.productDetails .price i {
    font-size: 1.6rem;
    color: #2f834f;
    position: relative;
}

.productDetails .price i span {
    line-height: 1px;
    position: absolute;
    bottom: 20px;
    right: -33px;
}

.productDetails .variants {
    padding: 3% 0;
    display: inline-flex;
    gap: 25px;
    justify-content: space-evenly;
    align-items: center;
}

.productDetails .variants .variant {
    min-width: 80px;
    width: 10%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: 3px solid #00000000;
    box-shadow: 0 0 0 0 #000,
        0 0 0 0 #fff;
    border-radius: 5px;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.productDetails .variants .variant::before {
    position: absolute;
    content: "✔";
    color: #fff;
    top: -12px;
    left: -12px;
    width: 30px;
    height: 30px;
    background-color: #2f834f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    opacity: 0;
}

.productDetails .variants .selected::before {
    opacity: 1;
}

.productDetails .variants .variant:hover {
    box-shadow: 4px 4px 0 1px #000000;
    scale: 1.05;
    border: 3px solid #3c3c3c;
}

.productDetails .variants .variant:active {
    box-shadow: none;
    scale: 0.95;
    border: 3px solid #00000000;
}

.productDetails .variants .variant img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 3px 3px 0 0;
}

.productDetails .variants .variant b {
    -webkit-text-stroke: .5px #ffffff;
    font-weight: 900;
    font-size: 20px;
}

.productDetails .sizes {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    justify-content: space-evenly;
}

.productDetails .sizes .size {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #00000000;
    border-radius: 50%;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.productDetails .sizes .size::before {
    position: absolute;
    content: "✔";
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    width: 33px;
    height: 33px;
    background-color: #2f834f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.productDetails .sizes .selected::before {
    opacity: .5;
}

.productDetails .sizes .selected {
    border: 2px solid #000000;
}

.productDetails .sizes .size:hover {
    border: 2px solid #000000;
    scale: 1.1;
}

.productDetails .bn {
    width: calc(50% - 10%);
    margin-top: 5%;
    margin-left: 10%;
    padding: 10px;
    border: none;
    border-radius: 20px 0 0 20px;
    background-color: #f9be29c3;
    font-weight: 500;
    border: 2px solid #000000;
    font-size: 2rem;
    border-collapse: collapse;
    transition: all 0.5s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.productDetails .bn:hover {
    background-color: #f9be29;
}

.productDetails .bn .material-symbols-outlined,
.productDetails .atc .material-symbols-outlined {
    font-size: 2.2rem;
    margin: 0 10px;
    color: #000000;
}

.productDetails .atc {
    width: calc(50% - 10%);
    margin-right:10%;
    border: none;
    padding: 10px;
    border-radius: 0 20px 20px 0;
    font-size: 2rem;
    font-weight: 500;
    border: 2px solid #000000;
    background-color: #f9bf29c3;
    border-collapse: collapse;
    transition: all 0.5s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.productDetails .atc:hover {
    background-color: #f9bf29;
}

.productDetails .dis {
    background-color: #b8a900;
    cursor: not-allowed;
    opacity: .7;
}

.productDetails .dis:hover{
    background-color: #b8a900;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000099;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
}

.popup .cont{
    width: 50vw;
    height: 60vh;
    padding: 2%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
}

.popup .cont h1{
    width: 100%;
    font-size: 3rem;
    text-align: center;
    background-color: #e9e9e9;
    border-radius: 10px;
}

.popup .cont img{
    width: 30%;
    object-fit: contain;
}

.popup .cont .details{
    width: 34%;
    border-radius: 1rem;
    /* background-color: #f5feff; */
    position: relative;
    /* box-shadow: 0 0 10px -5px #00000099; */
    padding: 3%;
}

.popup .cont .details h3{
    width: 60%;
    font-size: 1.6rem;
    display: inline;
}

.popup .cont .details h3 p{
    display: inline;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0 10px;
}

.popup .cont .details .qty{
    width: 60%;
    border:  1px solid black;
    background-color: #000;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto ;
}

.popup .cont .details .qty button{
    width: 30%;
    height: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
    background-color: #f9bf29;
    font-size: 2rem;
    font-weight: 900;
    cursor: pointer;
}

.popup .cont .details .qty button:hover{
    background-color: #ffb700c3;
}

.popup .cont .details .qty .pls{
    border-radius:  100px 0 0 100px ;
    border-right: 1px solid black;
}

.popup .cont .details .qty .mis{
    border-radius: 0 100px 100px 0;
    border-left: 1px solid black;
}

.popup .cont .details .qty b{
    font-size: 1.4rem;
    font-weight: 500;
    border: 1px solid black;
    background-color: #fff;
    border-radius: 5rem;
    padding: 0 25px;
    transition: all 0.3s ease;
}

.popup .cont .buynow{
    width: 23%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    font-size: 2.5rem;
    font-weight: 800;
    transition: all 0.3s ease;
    position: relative;
    z-index: 2;
    overflow: hidden;
    cursor: pointer;
}

.popup .cont .buynow::after{
    content: "Confirm Order";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/giphy.gif);
    left: 0;
    color: #ffffff;
    bottom: 0;
    width: 100%;
    height: 0%;
    font-size: 2.2rem;
    z-index: 1;
    transition: all 0.5s ease;
    overflow: hidden;
}

.popup .cont .buynow:hover::after{
    height: 100%;
    font-size: 2.8rem;
}

.popup .cont .buynow:hover{
    padding-top: 20%;
    font-size: 2rem;
}

.popup .cont .bak{
    display: flex;
    padding: 4%;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    position: absolute;
    width: 50px;
    background-color: #fff;
    height: 50px;
    border-radius: 50%;
    border: none;
    top: -5%;
    right: -5%;
}

.popup .cont .bak:hover{
    transform: rotate(180deg);
}