* {
  margin: 0;
  padding: 0;
  font-family: "Saira Condensed", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

.b {
  border: 1px solid black;
}

body {
  font-family: "Saira Condensed", sans-serif;
  background-color: #e7f3eeaf;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header {
  width: 100%;
  height: 80vh;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  position: relative;
  background-color: #3b5d50;
  animation: bgshake 30s infinite cubic-bezier(0.87, -0.99, 0.35, 2);
  transition: all 0.5s;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 8vh;
  z-index: 999;
  background-color: #3b5d50d4;
  transition: all .5s;
  animation: nav 0.5s ease-in-out;
}

.navbar .ham{
  all: unset;
  display: none;
  color: white;
  cursor: pointer;
}

.navbar h1 {
  cursor: pointer;
  position: relative;
}

.navbar h1 b {
  color: #033320;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3%;
}

.navbar ul li {
  display: inline-block;
  /* border: 1px solid black; */
  position: relative;
  margin: 10px;
  margin-top: 24px;
  text-align: center;
}

.navbar ul li a {
  display: block;
  text-decoration: none;
  color: #ffffff84;
  margin: 10px;

}

.navbar ul li span {
  color: #ffffff84;
  padding: 0 15px;
  font-size: 1.7rem;
  cursor: pointer;
  position: relative;
}

.navbar ul li span::before {
  opacity: 0;
  content: attr(data-tooltip);
  font-size: .45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #00000083;
  width: 100%;
  height: 1rem;
  bottom: -1.5rem;
  left: 0;
  border-radius: 1rem;
  padding: 1%;
  transition: all 0.50ms ease;
}

.navbar ul li span:hover::before {
  transition-delay: 0.9s;
  opacity: 1;
}

.navbar ul li a:active {
  scale: 0.9;
}

.navbar ul li span:active {
  scale: 0.9;
}

.navbar ul li a::after {
  content: "";
  display: block;
  width: 0;
  text-align: center;
  margin: auto;
  margin-top: 5px;
  border-radius: 2rem;
  border: 2px solid #f9be2900;
  transition: all 0.3s;
}

.navbar ul li span::after {
  content: "";
  display: block;
  width: 0;
  margin-top: 5px;
  border-radius: 2rem;
  margin: auto;
  border: 2px solid #f9be2900;
  transition: all 0.3s;
}

.navbar ul li a:hover::after {
  content: "";
  display: block;
  border: 2px solid #f9be29;
  width: 70%;
}

.navbar ul li span:hover::after {
  content: "";
  display: block;
  border: 2px solid #f9be29;
  width: 70%;
}

.navbar ul li a:hover {
  color: white;
  transition: all 0.3s;
}

.navbar ul li span:hover {
  color: white;
  transition: all 0.3s;
}

.navbar ul li .active {
  color: white;
}

.navbar ul li .active::after {
  content: "";
  display: block;
  width: 70%;
  border: 2px solid #f9bf29;
  border-radius: 2rem;
}

.navbar h1 {
  position: absolute;
  left: 4%;
}

.navbar ul li button {
  font-weight: 600;
  background-color: #f9be29db;
  color: #000000;
  width: 100px;
  border: 1px solid #00000000;
  padding: 5px;
  font-size: 1.2rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 5px;
}

.navbar ul li button:hover {
  background-color: #f9bf29;
  border: 1px solid #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-decoration: underline;
  scale: 1.05;
}

.navbar ul li button:active {
  background-color: #f9bf29;
  border: 1px solid #000000;
  border-radius: 1.2rem;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.5);
  scale: .9;
}

.header .content {
  margin-top: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70vh;
}

.header .content .lfttxt {
  display: inline-block;
  position: absolute;
  left: 10%;
  width: 45%;
}

.header .content .lfttxt h1 {
  color: #eaeaea;
  font-size: clamp(2rem, 5vw, 3.8rem);
}

.header .content .lfttxt p {
  color: rgb(244, 244, 244);
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  font-size: clamp(0.8rem, 3vw, 1.5rem);
}

.header .content .lfttxt button {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 600;
  background-color: #f9be29db;
  color: #000000;
  width: 150px;
  border: 1px solid #00000000;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 2rem;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.header .content .lfttxt button:hover {
  background-color: #f9bf29;
  border: 1px solid #000000;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-decoration: underline;
  scale: 1.05;
}

.header .content .lfttxt button:active {
  background-color: #f9bf29;
  border: 1px solid #000000;
  border-radius: 1.2rem;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.5);
  scale: .9;
}

.header .content .lfttxt button:nth-child(even) {
  background-color: #ffffff00;
  color: #ffffff;
  border: 1px solid #ffffff6b;
  margin-left: 5%;
  transition: all 0.3s;
}

.header .content .lfttxt button:hover:nth-child(even) {
  border: 1px solid #fff;
}

.header .content img {
  aspect-ratio: 73/129;
  position: absolute;
  bottom: 0;
  right: 10%;
  display: inline-block;
  width: 20%;
  filter: drop-shadow(10px 5px 10px rgba(0, 0, 0, 0.3));
  transition: all 0.5s;
}

.header .content img:hover {
  scale: 1.01;
  filter: drop-shadow(20px 20px 15px rgba(0, 0, 0, 0.4));
}


.header .content .searchbar {
  position: absolute;
  top: 60%;
  right: 10%;
  background-color: #fff;
  display: flex;
  padding: .1% 1%;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5rem;
}

.header .content .searchbar input {
  width: 70%;
  padding: 5px 10px;
  border: none;
  font-size: 1rem;
  outline: none;
  border-right: 1px solid black;
}

.header .content .searchbar .material-symbols-outlined {
  padding: 0 0 0 6%;
}

.category {
  margin: auto 2%;
  padding-top: 5%;
  display: block;
  justify-content: space-between;
  position: relative;
  align-items: safe;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 6.5%;
}

.category h1 {
  width: 100%;
  text-align: center;
  color: #28322e;
  font-size: 2.5em;
  position: absolute;
  top: -5%;
  text-decoration: underline;
}

.category .txt {
  display: inline-flex;
  flex-wrap: wrap;
  position: absolute;
  top: 25%;
  left: 4%;
  width: 22vw;
  margin: 20px;
  padding: 1vw;
  transition: all 0.5s;
}

.category .txt h1 {
  text-align: left;
  color: #28322e;
  font-size: 2.5em;
  position: relative;
}

.category .txt p {
  color: #0d340f;
  font-size: 1.3rem;
}

.category .txt button {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 600;
  background-color: #3d3d3ddb;
  color: #ffffff;
  width: 150px;
  border: 1px solid #00000000;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 2rem;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.category .txt button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-decoration: underline;
  scale: 1.05;
}

.category .txt button:active {
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.5);
  scale: .9;
}

.category .cont {
  display: inline-flex;
  margin-left: 30%;
  width: 68vw;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;
}

.category .cont .card {
  width: 30vh;
  height: 55vh;
  margin: 1%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: end;
  flex-wrap: wrap;
  text-align: center;
  border-radius: 1.5rem;
  padding-bottom: 4%;
  transition: all 0.3s ease-in-out;
}

.category .cont .card::after{
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 0%;
  border-radius: 1.5rem;
  background-color: #00000062;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.category .cont .card:hover{
  margin-bottom: 0;
}

.category .cont .card:hover::after{
  height: 70%;
}

.category .cont .card:hover img{
  scale: 1.1;
}

.category .cont .card .cross {
  content: '';
  position: absolute;
  bottom: -5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 5%;
  border-radius: 50%;
  font-weight: 200;
  font-size: 3.5rem;
  background-color: #000000;
  color: #fff;
  scale: 0;
  opacity: 0.8;
  transition: all 0.5s ease;
}

.category .cont .card:hover .cross {
  opacity: 1;
  scale: 1;
}

.category .cont .card .cross img{
  width: 100%;
  filter: invert(1);
}

.category .cont .card img {
  width: 25vh;
  aspect-ratio: 3/5;
  padding: 5%;
  border-radius: 1.5rem;
  z-index: 99;
  margin: 3%;
  transition: all 0.3s ease;
}

.category .cont .card h3 {
  width: 100%;
  color: #28322e;
  font-size: 1.5rem;
}

.category .cont .card p {
  width: 100%;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: black;
  text-decoration: line-through;
}

.category .cont .card strong {
  width: 100%;
  color: #0d340f;
  font-size: 1.3rem;
  font-weight: 700;
}

.w20 {
  width: 10px;
  border: 1px solid black;
  margin: 5%;
}

.aboutUS {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

.aboutUS .lftimg {
  display: inline;
  width: 30%;
}

.aboutUS .lftimg img {
  width: 100%;
  aspect-ratio: 7/4;
  border-radius: .5rem;
  transition: all 0.5s;
}

.aboutUS .lftimg::before {
  content: " ";
  display: block;
  position: absolute;
  margin: -50px;
  width: 20%;
  height: 20%;
  background-color: #00000038;
  z-index: -1;
  background-image: radial-gradient(#00bc74 1.5px, transparent 1.5px), radial-gradient(#005836 1.5px, transparent 1.5px);
  background-size: 16px 16px;
  background-position: 0 0, 3px 12px;
  background-color: #3b5d5000;
  transition: all .5s;
}

.aboutUS .lftimg:hover::before {
  width: 30%;
  height: 30%;
  opacity: .8;
  background-image: radial-gradient(#005836 2px, transparent 2px), radial-gradient(#00bc74 2px, transparent 2px);
  background-size: 14px 14px;
  background-position: 0 0, 7px 7px;
  transition: all .5s;
  filter: drop-shadow(0 0 10px #ffffff);
}

.aboutUS .txt {
  display: inline-block;
  width: 45%;
  margin: 20px;
  padding: 1%;
}

.aboutUS .txt h1 {
  color: #28322e;
  font-size: 2.5em;
  text-decoration: underline;
  position: relative;
}

.aboutUS .txt h1::before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 10px;
  left: -10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #00000038;
}

.aboutUS .txt p {
  color: #0d340f;
  font-size: 1.3rem;
  text-align: justify;
}

.aboutUS .txt button {
  font-family: "Saira Condensed", sans-serif;
  font-weight: 600;
  background-color: #3d3d3ddb;
  color: #ffffff;
  width: 150px;
  border: 1px solid #00000000;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 2rem;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.aboutUS .txt button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-decoration: underline;
  scale: 1.05;
}

.aboutUS .txt button:active {
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.5);
  scale: .9;
}

.aboutUS .lftimg img:hover {
  scale: 1.01;
  filter: drop-shadow(2px 4px 5px rgba(0, 0, 0, 0.3));
}

.aboutUS p {
  width: 90%;
  margin: auto;
  padding: 2%;
  font-size: 1.2rem;
  text-indent: 1rem;
  position: relative;
}

.aboutUS p::before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* background-color: #00000038; */
}

footer {
  width: calc(100vw - 20px);
  background-color: #3b5d50;
  display: grid;
  grid-template-columns: 2.5fr 0.7fr 0.7fr 1.5fr;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  padding-bottom: 0;
  overflow: hidden;
}

footer div {
  width: auto;
  margin: 10px;
  padding: 1rem;
  /* background-color: #f9be29; */
}

footer div h1 {
  color: white;
  font-size: 1.5rem;
}

footer div p {
  color: #d0d0d0;
  font-size: 1rem;
  text-align: justify;
}

footer div span {
  display: inline-flex;
  border-radius: 50%;
  background-color: #00000044;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  margin-top: .5rem;
  transition: all 0.1s ease-in-out;
}

footer div span img {
  width: 60%;
  margin: auto;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.1s;
  filter: invert(1);
}

footer div span:hover {
  background-color: #00000044;
  background-color: #ffffff44;
}

footer div span:hover img {
  transform: scale(0.8);
  filter: invert(0);
}

footer div a {
  text-decoration: none;
  display: block;
  color: white;
  margin: .8rem auto;
  margin-top: 0;
  transition: all 0.3s;
}

footer div a:hover {
  color: #ffffffb2;
}

footer div input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ffffff44;
  border-right: 2px solid #ffffff44;
  border-top: 1px solid #ffffff00;
  border-left: 1px solid #ffffff00;
  background-color: #ffffff00;
  color: white;
  transition: all 0.3s;
}

footer div input:hover {
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  border-top: 1px solid #ffffff44;
  border-left: 1px solid #ffffff44;
  border-radius: .3rem;
}

footer div input:focus {
  border: none;
  border-bottom: 1px solid #ffffff;
  transition: all 0.3s;
}

footer div input::placeholder {
  float: left;
  color: #ffffff;
  transition: all 0.3s;
}

footer div input:hover::placeholder {
  color: #ffffffb2;
}

footer div input:focus::placeholder {
  scale: 0.8;
}



footer div button {
  width: 40%;
  font-family: "Saira Condensed", sans-serif;
  font-weight: 600;
  background-color: #f9be29db;
  color: #000000;
  border: 1px solid #00000000;
  padding: 5px;
  font-size: 1.2rem;
  border-radius: 2rem;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

footer div button:hover {
  background-color: #f9bf29;
  border: 1px solid #000000;
  box-shadow: 0 4px 8px rgba(2, 4, 5, 0.5);
  text-decoration: underline;
  scale: 1.05;
}

footer div button:active {
  background-color: #f9bf29;
  border: 1px solid #000000;
  border-radius: 1.2rem;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.1);
  scale: .9;
}



.cr {
  grid-area: span 1 / span 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cr hr {
  width: 100%;
  margin-bottom: 1.5rem;
}

.cr a {
  display: inline;
}


@keyframes nav {
  0% {
    top: -10vh;
    height: 0vh;
  }

  100% {
    height: 10vh;
  }
}

.service {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
  padding: 0 3rem;
  margin: 3rem auto;
}

.service .card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem;
  margin: 2rem 1rem;
  transition: all 1s;
  position: relative;
}

.service .card:hover {
  background-color: #e7f3ee;
  border-radius: 10px;
  transition: all 0.2s;
}

.service .card span {
  position: relative;
  font-size: 3.2rem;
  filter: drop-shadow(1px 2px 10px rgba(0, 0, 0, 0.296));
  transition: all 0.5s cubic-bezier(0.5, -1, 0.5, 3);
}

.service .card::after {
  width: 90%;
  height: 80%;
  content: '';
  display: block;
  position: absolute;
  background-color: #00000000;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);
  z-index: -2;
  transition: all 0.3s;
}

.service .card::before {
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  position: absolute;
  background-color: #00000000;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
  transition: all 1s;
}

.service .card:hover::after {
  box-shadow: 0 10px 80px rgb(0, 0, 0);
}

.service .card:hover::before {
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.399);
}

.service .card span::after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -3px;
  left: -10px;
  width: 30px;
  height: 30px;
  background-color: #005135a6;
  border-radius: 50%;
  transition: all 0.3s;
  z-index: -1;
}

.service .card span::before {
  content: " ";
  display: block;
  position: absolute;
  top: -3px;
  right: -10px;
  width: 30px;
  height: 30px;
  background-color: #28775945;
  border-radius: 50%;
  transition: all 0.3s;
  z-index: -1;
}

.service .card:hover span::before {
  scale: 2;
  top: 0;
  right: 0;
  transition: all 0.8s cubic-bezier(0.5, -2, 0.5, 2);
}

.service .card:hover span::after {
  scale: 1.5;
  bottom: 0;
  left: 0;
  animation-delay: 1ms;
  transition: all 0.6s cubic-bezier(0.5, -1, 0.5, 3);
}

.service .card:hover span {
  scale: 1.1;
}

.service .card h2 {
  margin-left: .9rem;
  font-weight: 500;
  font-size: 1.4rem;
  color: #484848;
}

.service .card p {
  margin-top: 1rem;
  display: block;
  font-size: 1rem;
  color: #1c3423;
}